<div class="box">
	<form>
	<div class="input-container">
		<input type="text" required="" [value]="nome" (input)="nome = $event.target.value" />
		<label>Nome</label>
	</div>
	<div class="input-container">
		<input type="text" required="" [value]="ataque" (input)="ataque = $event.target.value" />
		<label>Ataque</label>
	</div>
  <div class="input-container">
		<input type="text" required="" [value]="durabilidade" (input)="durabilidade = $event.target.value"/>
		<label>Durabilidade</label>
	</div>
  <div class="input-container">
		<input type="text" required="" [value]="tipo" (input)="tipo= $event.target.value"/>
		<label>Tipo de Arma</label>
	</div>
  <div class="input-container">
		<input type="text" required="" [value]="vida" (input)="vida = $event.target.value"/>
		<label>Vida</label>
	</div>
		<button type="button" class="btn" (click)="criarArma()">Criar Arma</button>
</form>
</div>
