#start-btn{
  width: 10%;
  height: 10%;

  position: fixed;
  left: 46vw;
  top: 0vh;
}


#my-player{
  position: fixed;
  bottom: 0%;
  left: -15%;
}

#my-player-stats{
  position: fixed;
  bottom: 5%;
  left: 25%;


  width: 15vw;
  height: 50vh;

  display: flex;

  align-items: center;
  flex-direction: column;


}

#chat-logs{
  position: fixed;
  bottom: 5%;
  left: 40%;
  width: 20vw;
  height: 50vh;

  background-image: url("https://cdn.discordapp.com/attachments/850712042285170699/857028055032528906/chat-logs.png");
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;


}
.stats{
  color: red;
}

.message{
 /* background-color: white;
  color: black;*/

  display: block;

max-width: 90%;


position: relative;
left: 22px;
top: 10%;
  background:rgba(0, 0, 0, 0.75);
  padding:10px 0px 20px 0px;
  border:1px solid #111;
  border-radius:4px;
  box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75);
  text-align: center;
}

#my-enemy{
  transform: scaleX(-1);
  position: fixed;
  right: -10%;
  bottom: -3%;
}

#my-enemy-stats{
  position: fixed;
  bottom: 5%;
  right: 25%;


  width: 15vw;
  height: 50vh;

  display: flex;

  align-items: center;
  flex-direction: column;
}
